# Python
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
build
dist
*.local

# vn.py
.vntrader

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build
_static
_templates
tests/singletest/log/
tests/simnow/log/
examples/vn_trader/ctp/
examples/vn_trader/log/CtaStrategyPro_2020-06-21.log
tests/celery/logs/
examples/vn_trader/log/
tests/triple/log/
