six
PyQt5
pyqtgraph
dataclasses; python_version<="3.6"
qdarkstyle
requests
websocket-client
peewee
mongoengine
numpy
pandas
matplotlib
seaborn
futu-api
tigeropen
ta-lib
ibapi
deap
pyzmq
QScintilla
PySocks
pykalman
cython

